DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE='django.db.backends.postgresql'
DB_HOST='localhost'
DB_PORT=5432
TEST_LOGGING_LEVEL='FAILED'
REDIS_URL='redis://127.0.0.1:6379/1'
REDIS_SOCKET_CONNECT_TIMEOUT=1
REDIS_SOCKET_TIMEOUT=1

# Wall configuration
WALL_CONFIG_PATH=config/wall_config.json
MAX_HEIGHT=30
ICE_PER_FOOT=195
ICE_COST_PER_CUBIC_YARD=1900
MAX_LENGTH=2000

# Common
API_VERSION='v1'