# System configuration
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.postgresql
DB_HOST=localhost
DB_PORT=5432
DB_CONNECT_TIMEOUT=10
DB_STATEMENT_TIMEOUT=5000
TEST_LOGGING_LEVEL=FAILED
TEST_SUITE_FILE_LOGGING_ENABLED=False
SEND_EXPECTED_TEST_SUITE_ERRORS_TO_CELERY=False
REDIS_URL=redis://localhost:6379/REDIS_DB_NUMBER
REDIS_DB_NUMBER=0
REDIS_DB_NUMBER_CELERY=2
REDIS_SOCKET_CONNECT_TIMEOUT=1
REDIS_SOCKET_TIMEOUT=1
CPU_THREADS=8
MAX_USER_WALL_CONFIGS=5
APP_USER_ID=5678
APP_GROUP_ID=5678
APP_GROUP_NAME=wall_app_group
LOGS_DIR_NAME=logs

# Wall configuration
BUILD_SIM_LOGS_RETENTION_DAYS=1
BUILD_SIM_LOGS_ARCHIVE_RETENTION_DAYS=7
ICE_PER_FOOT=195
ICE_COST_PER_CUBIC_YARD=1900
MAX_SECTION_HEIGHT=30
MAX_WALL_PROFILE_SECTIONS=2000
MAX_WALL_LENGTH=300
MAX_SECTIONS_COUNT_FULL_RANGE_CACHING=100
MAX_SECTIONS_COUNT_SYNCHRONOUS_RESPONSE=10000

# Concurrency configuration
MAX_CONCURRENT_NUM_CREWS_THREADING=250
MAX_SECTIONS_COUNT_CONCURRENT_THREADING=4000
MAX_SECTIONS_COUNT_CONCURRENT_MULTIPROCESSING=2000
CONCURRENT_SIMULATION_MODE=threading_v1
VERBOSE_MULTIPROCESSING_LOGGING=False
SECTION_COMPLETION_GRACE_PERIOD_THREADING=0.04
SECTION_COMPLETION_GRACE_PERIOD_MULTIPROCESSING=0.05

# Common
API_VERSION=v1